#channel-list {
	list-style-type:none;
	padding:0;
}
.channel {
	padding:0.5em 1em;
	cursor:pointer;
	transition: background-color 0.25s;
}

.channel:hover {
	background-color:#eee;
}

.channel.selected {
	background-color:#ddd;
}
