#messages {
	overflow-wrap:anywhere;
}
.message {
	display: flex;
	flex-direction: column;
}

.message-data {
	display: flex;
	align-items: center;
	margin-bottom: 0.175em;
}

.message-text {
	white-space: pre-line;
}

.username, .timestamp {
	margin-right: 0.5em;
}

img.attachment {
	max-width: 700px;
	max-height: 400px;
}
