@use '../../colors.scss' as col;

.channel-view {
	display: flex;
	flex: 1 1 auto;
	flex-direction: column;
	min-width: 0;
}

.channel-header {
	padding: 0.5em 1em;
	background-color: col.$base-color;
	border-bottom: 1px solid col.$border-color;
	display: flex;
}

.channel-topic {
	margin-left: 0.25em;
	color: col.$text-color-detail;
}