@use '../../common';
@use '../../colors' as col;

.user-infobox {
	padding: 1em;
	display: flex;
	align-items: center;
}

.avatar {
	margin-right: 1em;
}

.user-discriminator {
	opacity: 0.5;
}

.user-nickname, .user-id, .user-joined-timestamp {
	@include common.detail-text;
}

.role {
	display: inline-flex;
	padding: 0.25em;
	border-width: 1px;
	border-style: solid;
	border-color: col.$text-color;
	border-radius: 500px;
	align-items: center;
	margin-right: 0.5em;

	&:last-child {
		margin-right: 0;
	}
}

.role-color {
	width: 18px;
	height: 18px;
	border-radius: 50%;
	display: inline-block;
	background-color: col.$text-color;
}

.role-name {
	padding: 0 0.25em;
}