@use '../../common';

.user-info {
	padding: 1em;
	display: flex;
	align-items: center;
}

.avatar {
	margin-right: 1em;
}

.user-discriminator {
	opacity: 0.5;
}

.user-nickname, .user-id, .user-joined-timestamp {
	@include common.detail-text;
}