@use '../../../common.scss';

.users-list {
	overflow: auto;
	padding: 0 0.5em;
}

.user {
	display: flex;
	align-items: center;
	padding: 0.25em;
	border-radius: 0.25em;
	cursor: pointer;

	@include common.animate-bg-color;

	&:hover {
		background-color: rgba(255, 255, 255, 0.1);
	}
}

.user-avatar {
	margin-right: 0.25em;
}

.role-group {
	padding: 0.25em 0;
}

.role-header {
	font-size: 80%;
	font-weight: bold;
	padding: 0.25em 0;
}

.icon-owner {
	width: 16px;
	height: 16px;
	background-image: url('icon-owner.svg');
	margin-left: 0.325em;
}
