<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Discord JSON Browser</title>
	
	<link rel="stylesheet" type="text/css" href="css/normalize.css">
	<link rel="stylesheet" type="text/css" href="css/page-layout.css">
	<link rel="stylesheet" type="text/css" href="css/page-theme.css">
	<link rel="stylesheet" type="text/css" href="css/messages-layout.css">
	<link rel="stylesheet" type="text/css" href="css/messages-theme.css">
	<link rel="stylesheet" type="text/css" href="css/channels.css">
	<link rel="stylesheet" type="text/css" href="css/find-panel.css">
	
	<script src="js/vendor/linkify.js"></script>
	<script src="js/vendor/linkify-element.js"></script>
	<script src="js/vendor/moment.js"></script>
	<script src="js/vendor/vue.js"></script>
	<script src="js/main.js"></script>
</head>
<body>
	<div class="flex-expand flex-col" id="app">
		<div class="flex-cols flex-expand">
			<div class="flex-col" id="channels-panel">
				<p id="channel-list-header">
					Channels:
				</p>
				<ul id="channel-list">
					<li
						v-bind:class="{channel: true, selected: activeChannelId === channel.id}"
						v-on:click="setChannel(channel.id)"
						v-for="channel in server.channels"
					>
						<span class="channel-name">{{channel.name}}</span>
					</li>
				</ul>
			</div>
			<div class="flex-expand flex-col">
				<div class="flex-row flex-collapse">
					<div id="navigation">
						<div class="nav-section">
							<span>From</span>
							<input type="number" v-model.number="navigationData.renderRangeMin">
							<span>message(s) back, to</span>
							<input type="number" v-model.number="navigationData.renderRangeMax">
							<span>message(s) back</span>
							<button v-on:click="renderMessages">Render</button>
						</div>
						<hr />
						<div class="nav-section">
							<span>Jump to message w/ ID</span>
							<input type="text" v-model="navigationData.messageJumpId">
							<span>with</span>
							<input type="number" v-model.number="navigationData.messageJumpContextAmount">
							<span>surrounding message(s)</span>
							<button v-on:click="jumpMessages">Jump</button>
						</div>
					</div>
				</div>
				
				<div class="messages-container">
					<div id="messages">
						<message v-for="message in messages" v-bind:message="message" v-bind:key="message.index"></message>
					</div>
				</div>
			</div>
			
			<div v-bind:class="{'flex-col': true, collapsed: !findPanelVisible}" id="find-panel">
				<div id="find-controls" class="flex-row">
					<div>
						<input type="checkbox" v-model="searchFilterData.filterByText">
						<span>Contains text:</span>
						<input type="text" v-model="searchFilterData.textFilter">
					</div>
					<div>
						<input type="checkbox" v-model="searchFilterData.filterByUser">
						<span>From user (name or ID):</span>
						<input type="text" v-model="searchFilterData.userFilter">
					</div>
					<div>
							<input type="checkbox" v-model="searchFilterData.filterByChannel">
							<span>From channel:</span>
							<select v-model="searchFilterData.channelFilter">
								<option v-for="channel in server.channels" v-bind:value="channel.id">
									{{channel.name}}
								</option>
							</select>
						</div>
					<div>
						<button v-on:click="searchMessages">Find</button>
					</div>
				</div>
				<div class="messages-container">
					<div id="found-messages">
						<message v-for="message in foundMessages" v-bind:message="message" v-bind:key="message.index"></message>
					</div>
				</div>
				<div id="find-toggle" v-on:click="findPanelVisible = !findPanelVisible">🔍</div>
			</div>
		</div>
		
		<div class="flex-row flex-collapse">
			<div id="json-file-upload-form">
				<span>JSON log file:</span>
				<input type="file" v-on:change="loadJSONFromFile">
			</div>
		</div>
	</div>

	<script id="message-template" type="text/x-template">
		<div class="message">
			<div class="message-data">
				<div class="username">{{message.username}}</div>
				<div class="timestamp">{{message.timestamp}}</div>
				<div class="index">{{message.index}}</div>
			</div>
			<div class="message-content">
				<div class="message-text" v-linkified>{{message.text}}</div>
				<div class="message-attachments" v-if="message.attachments">
					<img :src="attachment.url" class="attachment" v-for="attachment in message.attachments" />
				</div>
			</div>
		</div>
	</script>
</body>
</html>
