@use '../../colors.scss' as col;

.attachment {
	display: flex;
	margin: 0.25em 0;
}

.attachment-file {
	display: flex;
	margin-right: auto;
	padding: 0.5em;
	border-radius: 0.25em;
	border: 1px solid rgba(0, 0, 0, 0.5);
	background-color: rgba(0, 0, 0, 0.25);
	align-items: center;
}

.attachment-image {
	border-radius: 0.25em;
	cursor: pointer;
}

.attachment-size {
	font-size: 90%;
	color: col.$text-color-detail;
	margin-left: 0.5em;
}
