@use '../../common.scss';

.messages-container {
	display: flex;
	flex-direction: row;
	overflow: auto;
	flex: 1 1 auto;

	/* @include common.no-scrollbar; */
}

.messages {
	display: flex;
	flex-direction: column;
	overflow: auto;
	flex: 1 1 auto;
}

.message-view-scrollbar {
	display: flex;
	width: 1em;
	position: relative;
	flex: 0 0 auto;
}

.message-view-scrollbar-range {
	box-sizing: border-box;
	position: absolute;
	left: 0;
	right: 0;
	background-color: rgba(255, 0, 0, 0.5);
	border-top: 1px solid red;
	border-bottom: 1px solid red;
}
