@use '../../common.scss';

$input-width: 4em;
$input-height: 2em;

.messages-container {
	display: flex;
	flex-direction: row;
	overflow: auto;
	flex: 1 1 auto;

	/* @include common.no-scrollbar; */
}

.messages {
	display: flex;
	flex-direction: column;
	overflow: auto;
	flex: 1 1 auto;
}

.scrollbar {
	display: flex;
	position: relative;
	flex: 0 0 auto;
	overflow: visible;
	padding: $input-height 0;
}

.scrollbar-indicator {
	box-sizing: border-box;
	position: absolute;
	left: 0;
	right: 0;
	background-color: rgba(255, 0, 0, 0.5);
	border-top: 1px solid red;
	border-bottom: 1px solid red;
}

.scrollbar-indicator-wrapper {
	position: relative;
	width: 1em;
}

.scrollbar-range-wrapper {
	position: relative;
	width: $input-width;
}

.scrollbar-range-top-wrapper, .scrollbar-range-bottom-wrapper {
	position: absolute;
	width: 100%;
}

$range-indicator-border-height: 1px;
$range-indicator-border: $range-indicator-border-height solid #800;

$range-indicator-border-radius: 0.25em;

.scrollbar-range-indicator {
	position: absolute;
	width: 100%;
	height: $input-height;
	display: flex;
	flex-direction: column;
}

.scrollbar-range-top {
	bottom: -$range-indicator-border-height;
	border-bottom: $range-indicator-border;
}

.scrollbar-range-bottom {
	top: -$range-indicator-border-height;
	border-top: $range-indicator-border;
}

.scrollbar-range-top .scrollbar-range-input {
	border-top-left-radius: $range-indicator-border-radius;
	border-top-right-radius: $range-indicator-border-radius;
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
}

.scrollbar-range-bottom .scrollbar-range-input {
	border-bottom-left-radius: $range-indicator-border-radius;
	border-bottom-right-radius: $range-indicator-border-radius;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}

input[type=text].scrollbar-range-input {
	background-color: #ff2030;
	color: white;
	margin: 0 auto 0 0;
	padding: 0.25em;
	border: 0;
	width: $input-width;
	box-sizing: border-box;
	height: 100%;

	&:focus {
		background-color: rgb(148, 20, 33);
	}
}
