@use '../../colors.scss' as col;
@use '../../common.scss';

.message-list {
	background-color: col.$base-color;
	color: col.$text-color;
	flex: 0 0 auto;
	overflow-wrap: break-word;
	border-top: 1px solid col.$divider;
	padding: 0.25em 0.5em;
	display: flex;
}

.message-avatar {
	margin-right: 0.5em;
}

.message-header {
	display: flex;
	align-items: center;
}

.message-poster {
	font-weight: bold;
	cursor: pointer;

	&:hover {
		text-decoration: underline;
	}
}

.message-timestamp {
	margin-left: 0.5em;
}

.message-timestamp, .message-id, .edited {
	@include common.detail-text;
}

.edited {
	margin-left: 0.5em;
	position: relative;
	cursor: pointer;

	&.open {
		color: col.$blue;
	}
}

.edited.closed:not(:hover) .edited-date {
	display: none;
}

.edited-date {
	cursor: initial;
}

.message-content {
	font-size: 90%;
	white-space: pre-line;
	padding: 0.125em 0;
}
