.find-inner {
	display: flex;
	flex-direction: column;
	flex: 1 1 auto;
}

.find-controls {
	padding: 0.25em 0.5em;
}

.found-messages {
	display: flex;
	overflow: auto;
	flex: 0 1 auto;
	flex-direction: column;
}