@use '../../../colors.scss' as col;

.find-inner {
	display: flex;
	flex-direction: column;
	flex: 1 1 auto;
}

.find-controls {
	padding: 0.25em 0.5em;
}

.found-messages {
	display: flex;
	overflow: auto;
	flex: 0 1 auto;
	flex-direction: column;
}

.found-message {
	position: relative;
	cursor: pointer;
}

.jump {
	display: inline-block;
	padding: 0.25em;
	position: absolute;
	top: 0.25em;
	right: 0.25em;
	background-color: col.$base-color-secondary;
	border-radius: 0.25em;
	font-size: 80%;

	visibility: hidden;
}

.found-message:hover .jump {
	visibility: visible;
}