@use '../../colors.scss' as col;

html, body {
	height: 100%;
}

#app {
	height: 100%;
	display: flex;
	flex-direction: column;
	color: col.$text-color;
	background-color: col.$base-color;
}

.channels-and-messages {
	display: flex;
	flex-direction: row;
	flex: 1 1 auto;
	overflow: auto;
}

.channel-list-panel {
	display: flex;
	flex: 0 0 auto;
}

a {
	color: #00b0f4;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}