@use '../../colors.scss' as col;
@use '../../common.scss' as common;

.channel-list {
	list-style-type: none;
	padding: 0 0.25em;
	margin: 0;
	flex-grow: 1;
	overflow-y: auto;
	background-color: col.$base-color-secondary;

	&.collapsed {
		display: none;
	}
}
.channel {
	display: flex;
	align-items: center;

	cursor: pointer;
	@include common.animate-bg-color;
	border-radius: 0.25em;
	color: col.$text-color-detail;

	&:hover {
		background-color: col.$background-modifier-hover;
		color: col.$interactive-hover;
	}

	&.selected {
		background-color: col.$background-modifier-selected;
		color: col.$interactive-active;
	}
}

.text-channel, .voice-channel {
	padding: 0.325em 1em;
}

.category-channel {
	padding: 0.25em 1em;
	text-transform: uppercase;
	font-size: 0.75em;
	font-weight: bold;
}

.channel-icon {
	margin-right: 0.25em;
}
