.channel-list {
	list-style-type: none;
	padding: 0;
	margin:0;
	flex-grow: 1;
	overflow-y: auto;

	&.collapsed {
		display: none;
	}
}
.channel {
	cursor: pointer;
	transition: background-color 0.25s;

	&:hover {
		background-color: #eee;
	}

	&.selected {
		background-color: #ddd;
	}
}

.text-channel, .voice-channel {
	padding: 0.5em 1em;
}

.category-channel {
	padding: 0.25em 1em;
	text-transform: uppercase;
	font-size:0.75em;
}
