@use '../../colors.scss' as col;
@use '../../common.scss';

.header {
	padding: 0.5em 1em;
	background-color: col.$base-color;
	border-bottom: 1px solid col.$border-color;
	display: flex;
	align-items: center;
	position: relative;
}

.channel-info {
	flex: 1 1 auto;
	display: flex;
}

.channel-topic {
	margin-left: 0.25em;
	color: col.$text-color-detail;
}

.buttons {
	display: flex;
}

.button {
	@include common.icon-button;
	width: 24px;
	height: 24px;

	border-radius: 0.25em;
	margin-right: 1em;

	&:last-child {
		margin-right: 0;
	}
}

.button.sidebar-open {
	background-image: url('icon-sidebar-open.svg');
}

.button.sidebar-close {
	background-image: url('icon-sidebar-close.svg');
}

.button.icon-pinned-messages {
	background-image: url('icon-pinned-messages.svg');
}

.pinned-messages {
	width: 500px;
	height: 500px;
	max-height: 70vh;
	display: flex;
	flex-direction: column;
	overflow: auto;
	position: absolute;
	top: 100%;
	right: 0;
	margin: 0.5em;
	border: 1px solid col.$border-color;
	border-radius: 0.25em;
	background-color: col.$base-color;
	z-index: 1;
}
