$base-color: #36393f;
$base-color-secondary: #2f3136;
$base-color-tertiary: #202225;

$background-modifier-hover: rgba(79,84,92,0.16);
$background-modifier-selected: rgba(79,84,92,0.32);
$background-modifier-accent: rgba(255, 255, 255, 0.06);

$text-color: #dcddde;
$text-color-detail: #8e9297;

$grey: #72767d;
$grey-dark: #4b4d53;
$grey-medium: #4f545c;

$divider: rgba(255, 255, 255, 0.12);
$border-color: rgba(0, 0, 0, 0.25);

$bsod: #15457c;

$blue: #7289da;
$blue-secondary: #677bc4;
$blue-tertiary: #5b6eae;

$tooltip: black;
