$base-color: #36393f;
$base-color-secondary: #2f3136;

$text-color: #dcddde;
$text-color-detail: #8e9297;
$text-color-muted: #72767d;

$divider: rgba(255, 255, 255, 0.12);
$border-color: rgba(0, 0, 0, 0.25);